@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

body {
	background-color: #170f26;
	color: #ffb078;
	font-family: "Play", sans-serif;
	font-size: 1rem;
	width: 100vw;
}

.app {
	width: 100%;
	text-align: center;
}

button {
	padding: 0.5%;
	border-radius: 7%;
	background-color: #ffb078;
	color: #170f26;
	box-shadow: 3px 8px 8px 3px #684743;
}

.container-state-data {
	display: flex;
	flex-flow: column wrap;
	/* justify-content: center; */
	align-items: center;
	/* padding-top: 2%; */
	margin: 0 auto;
	width: 100vw;
	height: 80vh;

	/* border: 1px solid white; */
}

.state-card,
.us-card {
	color: #170f26;
	display: flex;
	border: 3px solid #684743;
	border-radius: 7%;
	background-color: #ffb078;
	flex-flow: column nowrap;
	justify-content: center;
	margin: 0.5%;
	width: 240px;
	/* max-width: 200px;
	min-width: 150px; */
	height: 40px;
	padding: 1%;
	border: 1px solid brown;
	box-shadow: 5px 8px 8px 5px #684743;
}

.us-card {
	width: 40%;
	height: 80px;
}

.us-container {
	padding: 1%;
	/* border: 1px solid white; */
	margin: 0 auto;
	width: 90vw;
	height: 10vh;
}

.us-data {
	/* border: 1px solid blue; */
	margin: 0 auto;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1024px) {
	.container-state-data {
		height: 170vh;
	}
}

@media (max-width: 800px) {
	.container-state-data {
		height: 200vh;
	}
}

@media (max-width: 500px) {
	.container-state-data {
		height: 270vh;
	}
}

@media (max-width: 350px) {
	.container-state-data {
		height: 100%;
	}
}
